<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maliros.giftcard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DisplayCardsActivity"
            android:label="@string/my_cards">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddCardActivity"
            android:parentActivityName=".activities.DisplayCardsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DisplayCardsActivity" />
        </activity>
        <activity
            android:name=".activities.UpdateBalanceActivity"
            android:label="@string/update_balance_activity"
            android:parentActivityName="activities.DisplayCardsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DisplayCardsActivity" />
        </activity>
        <activity
            android:name=".activities.SearchCardsActivity"
            android:parentActivityName=".activities.DisplayCardsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DisplayCardsActivity" />
        </activity>

        <activity android:name=".activities.SearchCardsResultActivity"
            android:parentActivityName=".activities.SearchCardsActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SearchCardsActivity" />
        </activity>

        <provider
            android:name=".contentproviders.GiftCardProvider"
            android:authorities="com.maliros.giftcard.contentproviders.GiftCardProvider"
            android:exported="false" />

    </application>

</manifest>
